#nav-bar {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  background-color:#4056A1;
  color: #bddcdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#nav-bart{
  color: #bddcdf;
  padding: 1.5em;
}


#nav-bar .header {
  font-size: 2em;
  line-height: 2.5;
  padding: 1.5em;
}


